/*
font-family: 'Droid Serif', serif;
font-family: 'Open Sans', sans-serif;
*/

@import "normalize";
@import "foundation/settings";
@import "foundation";
@import "foundation-icons";

/**
 * General
 */
a {
  transition: color 250ms ease-out;
}

.serif,
.title {
  font-family: 'Droid Serif', serif;
}

.error-message {
  color: $alert-color;
  font-style: italic;
}

form legend {
  font-size: 2rem;
  @extend .serif;
}

/**
 * Layout
 */
.off-canvas-wrap,
.inner-wrap,
.left-off-canvas-menu {
  height: 100%;
}

.main-menu {
  i {
    margin-right: 0.75rem;
    padding-right: 0.75rem;
  }

  .active i {
    border-right: solid 2px $primary-color;
  }

  ul {
    li {
      a {
        color: $white;
        
        &:hover {
          background: $primary-color;
        }
      }
    }
  }
}

.main-content {
  height: 100%;
  padding-top: 1rem;
  background: $white;

  transition: transform 500ms ease, opacity 250ms ease-out;

  .move-right & {
    opacity: 0.6;
  }

  .move-right &:hover {
    opacity: 0.85;
  }
}

.move-right .exit-off-canvas {
  background: rgba(255, 255, 255, 0.05);
}

/**
 * Controller Page
 */
.nav-buttons {
  margin: 0.75em auto 0;
  width: 245px;
  text-align: center;

  .controller-row {
    height: 80px;
    margin-bottom: 0.5em;
  }

  .nav-middle,
  .button {
    display: inline-block;
    height: 64px;
  }

  .nav-middle {
    width: 105px;
  }

  .button {
    vertical-align: top;
    width: 70px;
    padding: 10px 15px;
    font-size: 30px;

    &:active {
      background: scale-color($primary-color, $lightness: -50%);
    }
  }
}

/**
 * Mobile s
 */
@media only screen and (max-width: 40em) {
  .main-content {
    padding-bottom: 2rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}