@charset "UTF-8"

@import "settings"
@import "foundation-icons"

%box-sizing
  box-sizing: border-box

i
  font-style: normal

.button 
  @extend %box-sizing
  border-style: solid
  border-width: 0
  cursor: pointer
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
  font-weight: $font-weight-normal
  line-height: normal
  margin: 0 0 1.25rem
  position: relative
  text-decoration: none
  text-align: center
  -webkit-appearance: none
  border-radius: 3px
  display: inline-block
  padding-top: 1rem
  padding-right: 2rem
  padding-bottom: 1.0625rem
  padding-left: 2rem
  font-size: 1rem
  background-color: transparent
  border-color: $primary-color
  color: $primary-color
  transition: border 300ms ease, color 300ms ease

  &:hover,
  &:focus 
    border-color: scale-color($primary-color, $lightness: -20%)
    color: scale-color($primary-color, $lightness: -20%)

  &.success
    border-color: $success-color
    color: $success-color

    &:hover,
    &:focus 
      border-color: scale-color($success-color, $lightness: -20%)
      color: scale-color($success-color, $lightness: -20%)


  &.alert
    border-color: $alert-color
    color: $alert-color

    &:hover,
    &:focus 
      border-color: scale-color($alert-color, $lightness: -20%)
      color: scale-color($alert-color, $lightness: -20%)

  &.secondary
    border-color: $secondary-color
    color: $secondary-color

    &:hover,
    &:focus 
      border-color: scale-color($secondary-color, $lightness: -20%)
      color: scale-color($secondary-color, $lightness: -20%)

.icon-button
  padding-left: 1rem

  i
    margin-right: 0.75rem
    font-size: 1.15rem

input.icon-button
  height: 56px
  padding-left: 2.85rem

.input-icon-button-wrapper
  display: inline-block
  position: relative
  float: left

  & i
    color: $success-color

    transition: color 300ms ease

  &:hover i, 
  &:focus i
    color: scale-color($success-color, $lightness: -20%)

.input-icon
  position: absolute
  z-index: 1
  top: 19px
  left: 1rem
  color: $white

.slides-editor-button,
.controller-back-button
  position: absolute

.slides-editor-button
  z-index: 999
  padding: 0.25rem 1.5rem 0.6rem
  font-size: 3.5rem
  font-weight: 400
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.35)

  &.remove
    top: 50%
    left: 16px

  &.add.after
    top: 50%
    right: 16px

  &.add.below
    bottom: 16px
    left: 47%

.controller-back-button
  top: 0
  left: 0
  z-index: 999
  border-radius: 0
  border-bottom-right-radius: 5px
  padding: 0.5rem 1rem 0.75rem

.right
  float: right

.tool-bar
  @extend %box-sizing
  display: inline-block
  width: 100%
  background: $jet
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)

  .button
    margin-bottom: 0

  .slidesMarkup
    display: none