/*
  font-family: 'Droid Serif', serif
  font-family: 'Open Sans', sans-serif

@import "normalize"
@import "settings"

// Foundation components
@import "foundation/components/grid"
//@import "foundation/components/accordion"
@import "foundation/components/alert-boxes"
@import "foundation/components/block-grid"
@import "foundation/components/breadcrumbs"
//@import "foundation/components/button-groups"
@import "foundation/components/buttons"
//@import "foundation/components/clearing"
//@import "foundation/components/dropdown"
//@import "foundation/components/dropdown-buttons"
//@import "foundation/components/flex-video"
@import "foundation/components/forms"
//@import "foundation/components/icon-bar"
@import "foundation/components/inline-lists"
//@import "foundation/components/joyride"
//@import "foundation/components/keystrokes"
@import "foundation/components/labels"
//@import "foundation/components/magellan"
//@import "foundation/components/orbit"
@import "foundation/components/pagination"
@import "foundation/components/panels"
//@import "foundation/components/pricing-tables"
//@import "foundation/components/progress-bars"
//@import "foundation/components/range-slider"
@import "foundation/components/reveal"
//@import "foundation/components/side-nav"
//@import "foundation/components/split-buttons"
@import "foundation/components/sub-nav"
@import "foundation/components/switches"
@import "foundation/components/tables"
//@import "foundation/components/tabs"
//@import "foundation/components/thumbs"
@import "foundation/components/tooltips"
@import "foundation/components/top-bar"
@import "foundation/components/type"
@import "foundation/components/offcanvas"
@import "foundation/components/visibility"

@import "foundation-icons"

/* General

a
  transition: color 250ms ease-out

.serif,
.title
  font-family: 'Droid Serif', serif

.error-message
  color: $alert-color
  font-style: italic

.button
  margin-right: 1rem

  &.right
    margin-left: 1rem
    margin-right: 0

  &.icon-button
    padding-left: 1rem

    i
      margin-right: 0.75rem
      font-size: 1.15rem

.input-icon
  position: absolute
  z-index: 1
  color: $white

form legend
  font-size: 2.3125rem
  font-weight: 300
  @extend .serif

.disclaimer
  font-weight: 400

i
  &.success
    color: $success-color

  &.alert
    color: $alert-color

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
textarea
  border-bottom-width: 1px

/* Layout

.off-canvas-wrap,
.inner-wrap,
.left-off-canvas-menu
  height: 100%

.tab-bar .menu-icon 
  span::after
    transition: box-shadow 250ms ease-out  

  &:hover span::after
    box-shadow: 0 0px 0 1px $info-color,0 7px 0 1px $info-color,0 14px 0 1px $info-color

  &:active span::after
    box-shadow: 0 0px 0 1px $primary-color,0 7px 0 1px $primary-color,0 14px 0 1px $primary-color

.move-right .tab-bar .menu-icon span::after
  box-shadow: 0 0px 0 1px $info-color,0 7px 0 1px $info-color,0 14px 0 1px $info-color

$menu-icon-width: 52px

.main-menu-toggle
  position: absolute
  top: -14px
  font-size: 2.3rem

.main-menu
  //padding-top: 0.35rem

  i
    display: inline-block
    margin-right: 0.75rem
    width: 32px
    padding-right: 0.75rem

    transition: border 250ms ease-out

  .active i
    border-right: solid 2px $primary-color

  .active:active i
    border-right: solid 2px $info-color

  ul li a
    color: $white
    transition: background 300ms ease, padding 300ms ease

    &:hover,
    &:focus
      background: $primary-color
      padding-left: 0.9rem

    &:active
      background: $info-color

  .left-submenu
    //padding-top: 0.35rem

    -ms-transform: translate(100%, 0)
    -webkit-transform: translate3d(100%, 0, 0)
    -moz-transform: translate3d(100%, 0, 0)
    -ms-transform: translate3d(100%, 0, 0)
    -o-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

    &.move-right
      box-shadow: -5px 0 5px 2px rgba(10, 10, 10, 0.25)
      -ms-transform: translate($menu-icon-width, 0)
      -webkit-transform: translate3d($menu-icon-width, 0, 0)
      -moz-transform: translate3d($menu-icon-width, 0, 0)
      -ms-transform: translate3d($menu-icon-width, 0, 0)
      -o-transform: translate3d($menu-icon-width, 0, 0)
      transform: translate3d($menu-icon-width, 0, 0)

    .back > a
      color: #FFF
      font-weight: 300
      text-transform: capitalize

      &:before
        margin-right: $menu-icon-width - 20

.main-menu-label
  position: absolute
  top: 0
  z-index: 99999
  width: 15.625rem

.main-content
  height: 100%
  padding-top: 1rem
  overflow: auto
  background: $white

  transition: transform 500ms ease, opacity 250ms ease-out

.move-right .exit-off-canvas
  background: rgba(255, 255, 255, 0.05)

.fader
  opacity: 0
  transition: opacity 150ms ease-out

  .loaded &
    opacity: 1

/* Front page

.front-page
  .title
    font-size: 7rem
    margin-bottom: 1.5rem

    .logo
      font-family: $body-font-family
      color: $podium-gray

  .selling-points li
    margin-bottom: 1.5rem

/* Controller Page

.nav-buttons
  margin: 0.75em auto 0
  width: 245px
  text-align: center

  .controller-row
    height: 80px
    margin-bottom: 0.5em

  .nav-middle,
  .button
    display: inline-block
    height: 64px

  .nav-middle
    width: 105px

  .button
    vertical-align: top
    width: 70px
    margin-left: 0
    margin-right: 0
    padding: 10px 15px
    font-size: 30px

    &:active
      background: scale-color($primary-color, $lightness: -50%)

/* Slide Edit Page

.edit-slide-form .actions
  display: inline-block
  width: 100%

/* User Roles Page

.user-roles 
  .panel label
    display: inline-block
    margin-right: 1rem

  table
    width: 100%

/* Desktop

@media only screen and (min-width: 64.063em)
  .main-menu
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    
    & ul li label
      padding: 0.8rem

  .logged-in .main-content
    padding-left: 15.625rem

/* Mobile

@media only screen and (max-width: 64em)
  .button.right
    float: none !important
    margin-right: 1rem
    margin-left: 0

  .button.icon-button
    float: left
    width: 59px
    height: 56px
    padding-top: 5px
    color: transparent

    i 
      font-size: 1.75rem
      color: $white

    &:hover,
    &:focus
      color: transparent

    &.secondary i 
      color: $oil

  .front-page
    .title
      font-size: 3rem
      
  .main-content
    padding-bottom: 2rem
    overflow-y: scroll
    -webkit-overflow-scrolling: touch

    .move-right &
      opacity: 0.6

    .move-right &:hover
      opacity: 0.85

  .breadcrumbs
    margin-left: 3rem