doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Podium
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="deck_controller.css")
  body
    h3.title controller

    a.button.slide-view(href="#") control in presentation

    a.button.home-button(href="/") home

    select.slide-decks(name="slide-decks")
      each slideDeck, route in slides
        option(value=route) 
          =slideDeck.name
        
    .nav-buttons
      .row
        span.button.up(data-command="up") ▲
      .row
        span.button.left(data-command="left") ◀
        span.nav-middle
        span.button.right(data-command="right") ▶
      .row
        span.button.down(data-command="down") ▼

    script(src="jquery-2.1.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="deck_controller.js")
      