extends ./layout.jade

block header

block content
  h3.title #{title}

  select.slide-decks(name="slide-decks")
    each slideDeck, route in slides
      option(value="#{route}") #{slideDeck.title}

  a.button.radius.slide-view(href="#") control in presentation
  
  .nav-buttons
    .controller-row.top
      span.button.radius.up(data-command="up") ▲
    .controller-row.middle
      span.button.radius.left(data-command="left") ◀
      span.nav-middle
      span.button.radius.right(data-command="right") ▶
    .controller-row.bottom
      span.button.radius.down(data-command="down") ▼

block footer
  script(src="/socket.io/socket.io.js")
  script(src="/js/deck_controller.js")