extends ./layout.jade

block content
  .deck-controller
    h2.title #{title}

    select.slide-decks(name="slide-decks")
      each slideDeck, route in slides
        option(value="#{route}") #{slideDeck.title}

    a.button.border.icon-button.radius.slide-view(href="#")
      i.fi-comment-video
      |Control in Presentation
    
    .nav-buttons
      .controller-row.top
        span.button.border.radius.up(data-command="up") ▲
      .controller-row.middle
        span.button.border.radius.left(data-command="left") ◀
        span.nav-middle
        span.button.border.radius.right(data-command="right") ▶
      .controller-row.bottom
        span.button.border.radius.down(data-command="down") ▼

block footer
  script(src="/socket.io/socket.io.js")