extends ./layout.jade

block content
  h2.title #{title}

  .message
    if message
      h2.error-message #{message}
  div
    a.button.border.icon-button.radius.controller-button(href="/admin/controller")
      i.fi-play-video
      |Controller

  div
    a.button.border.icon-button.radius(href="/admin/slide-deck/create")
      i.fi-page-add
      |Create Deck

  div
    a.button.border.icon-button.radius(href="/admin/user-account/create")
      i.fi-torsos
      |Create User