extends ./layout.jade

block content

  form.login-form(action="/login" data-abide="" method="post")
    fieldset
      legend Login

      if message
        .message
          h5.error-message #{message}

      .username.input-wrapper
        label Username:
          input(type="text" name="username" value="" required="")
        small.error Username is required.

      .password.input-wrapper
        label Password:
          input(type="password" name="password" value="" required="")
        small.error Password is required.

      .submit
        .input-icon-button-wrapper
          i.fi-arrow-right.input-icon
          input.button.icon-button.radius.success(type="submit" value="Log In")