nav.tab-bar
  section.left-small
    a.left-off-canvas-toggle.menu-icon(href="#")
      span

  section.middle.tab-bar-section
    h1.title Podium JS

aside.left-off-canvas-menu.main-menu
  ul.off-canvas-list
    li
      label Main Menu

    li
      a(href="/")
        i.fi-home
        | Front Page

    li
      a(href="/admin")
        i.fi-graph-bar
        | Dashboard

    li
      a(href="/admin/controller")
        i.fi-play-video
        | Controller

    li
      a(href="/admin/slides")
        i.fi-projection-screen
        | Slides

    li
      a(href="/admin/user")
        i.fi-torso
        | My Account

    li
      a(href="/admin/settings")
        i.fi-widget
        | Settings

    li
      a(href="/logout")
        i.fi-power
        | Logout
