extends ./layout.jade

block header

block content
  form.user-form(action="/admin/user" data-abide="" method="post")
    fieldset
      legend #{title}

      .username
        label Username:
          input(type="text" name="username" placeholder="Username" value="#{username}" required="")
        small.error Username is required.

      .new-password
        label New Password:
          input(type="password" id="new-password" name="newPassword" placeholder="New Password")

      .new-password-confirm
        label Confirm New Password:
          input(type="password" name="confirmNewPassword" placeholder="New Password" data-equalto="new-password")
        small.error The Passwords must match.

      .current-password
        label Current Password:
          input(type="password" name="currentPassword" placeholder="Current Password" required="")
        small.error Current Password is required.

      .submit
        input.button.radius(type="submit" value="Save")
        a.button.radius.secondary.right(href="/admin") Cancel