extends ./layout.jade

block content
  h2.title #{title}
  
  .user-roles
    .hide-for-medium-up
      each role, roleName in userRoles
        .panel.radius
          h3 #{roleName}
          ul.no-bullet
            li 
              label Present:
              if(role.present)
                i.right.fi-check.success
              else
                i.right.fi-x.alert
            li 
              label Edit Decks:
              if(role.editDecks)
                i.right.fi-check.success
              else
                i.right.fi-x.alert
            li 
              label Manage Users:
              if(role.manageUsers)
                i.right.fi-check.success
              else
                i.right.fi-x.alert
            li 
              label Manage Site Config:
              if(role.manageSiteConfig)
                i.right.fi-check.success
              else
                i.right.fi-x.alert

    table.show-for-medium-up
      thead
        tr
          th Role Name
          th.text-center Present
          th.text-center Edit Decks
          th.text-center Manage Users
          th.text-center Manage Site Config

      tbody
        each role, roleName in userRoles
          tr
            td #{roleName}
            td.text-center
              if(role.present)
                i.fi-check.success
              else
                i.fi-x.alert
            td.text-center
              if(role.editDecks)
                i.fi-check.success
              else
                i.fi-x.alert
            td.text-center
              if(role.manageUsers)
                i.fi-check.success
              else
                i.fi-x.alert
            td.text-center
              if(role.manageSiteConfig)
                i.fi-check.success
              else
                i.fi-x.alert