extends ./layout.jade

block content
  h2.title #{title}

  a.button.border.icon-button.radius(href="/admin/user-account/create")
    i.fi-torsos
    |Create User

  ul.users.no-bullet
    each user, id in users
      li.panel.radius
        h3
          a(href='/admin/users/#{user.username}') Edit #{user.username}