body {
  font-size: 32px;
}

.title {
  margin-bottom: 0;
}

.slide-view,
.home-button {
  padding: 0.3em 0.5em;
  font-size: 18px;
}

.home-button,
.slide-decks {
  float: left;
  width: 46%;
  margin-bottom: 1.5em;
}

.slide-view {
  display: block;
  margin: 1em 0 1.5em;
}

.slide-decks {
  border: 1px solid #aaa;
  background: #fff;
  height: 1.7em;
  line-height: 1.5em;
  font-size: 0.6em;
  color: #333;
  font-weight: 100;
}

.home-button {
  padding: 0.3em 0.5em;
  margin-right: 8%;
}

.nav-buttons {
  margin: 0.75em auto 0;
}

.row {
  margin-bottom: 0.5em;
}


.nav-middle,
.nav-buttons .button {
  display: inline-block;
  height: 64px;
}

.nav-middle {
  width: 105px;
}

.nav-buttons .button {
  vertical-align: top;
  width: 70px;
  padding: 10px 15px;
  font-size: 1.1em;
  text-shadow: 0 -1px 0 #333;
  cursor: pointer;
  
  transition: all 150ms ease;
}

.nav-buttons .button:hover, 
.nav-buttons .button:focus,
.nav-buttons .button:active {
  text-shadow: 0 0 5px #ffd, 0 0 8px #fff; 
}

.nav-buttons .button:active {
  background: #0070aa;
}